@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --main-color: #443;
  --border-radious:95% 4% 97% 5% 94% 3% 95%;
  --border-radious-hover:4% 95% 6% 95% 95% 4% 92% 5%;
  --border: .2rem solid var(--main-color);
  --border-hover:.2rem dashed var(--main-color); 
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

